<h1>TODO List</h1>
<hr>

<div class="row">
  <div class="col">
    <label for="">Descripcion Pendiente :</label>
    <input type="text" class="form-control" #inputPendiente>
  </div>
  <div class="col">
    <label for="">Dias a para completar :</label>
    <input type="text" class="form-control" #inputDias>
  </div>
  <input type="button" class="btn btn-success mt-3" value="+ Pendiente" (click)="agregarPendiente(inputPendiente)">
</div>

<div *ngIf="mostrarInfo" style="margin-top: 30px;">
  <h3>Tareas Pendientes ({{ tareasPendientes.length }})</h3>
  <div *ngFor="let tarea of tareasPendientes; let pos = index;">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        {{ tarea }} | <span (click)="eliminar(pos)" style="color:red"> <i class="bi bi-trash"></i></span>
      </label>
    </div>
  </div>

</div>
