<h1>TODO List</h1>
<hr>

<div class="row">
  <div class="col">
    <label for="">Descripcion Pendiente :</label>
    <input type="text" class="form-control" #inputPendiente>
  </div>
  <div class="col">
    <label for="">Dias a para completar :</label>
    <input type="text" class="form-control" #inputDias>
  </div>
  <input type="button" class="btn btn-success mt-3" value="+ Pendiente" (click)="agregarPendiente(inputPendiente, inputDias)">
</div>

<div *ngIf="mostrarInfo" style="margin-top: 30px;">
  <h3>Tareas Pendientes ({{ tareasPendientes.length }})</h3>
  <div *ngFor="let tarea of tareasPendientes; let pos = index;">
    <app-todo-item
      [tareaInput]="tarea"
      [color]="getColor(tarea.dias)"
      [position]="pos"
      ></app-todo-item>
  </div>

</div>
